ignore = dirty
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/rails-vim"]
	path = bundle/rails-vim
	url = https://github.com/tpope/vim-rails.git
[submodule "bundle/gitv"]
  path = bundle/gitv
  url = https://github.com/gregsexton/gitv.git
[submodule "bundle/vim-textobj-rubyblock"]
  path = bundle/vim-textobj-rubyblock
  url = https://github.com/nelstrom/vim-textobj-rubyblock.git
[submodule "bundle/vim-textobj-user"]
  path = bundle/vim-textobj-user
  url = https://github.com/kana/vim-textobj-user.git
[submodule "bundle/zencoding-vim"]
  path = bundle/zencoding-vim
  url = https://github.com/mattn/zencoding-vim.git
[submodule "bundle/git-branch-info"]
  path = bundle/git-branch-info
  url = https://github.com/taq/vim-git-branch-info.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "bundle/guicolorscheme"]
	path = bundle/guicolorscheme
	url = git://github.com/vim-scripts/guicolorscheme.vim.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "bundle/vim-snipmate"]
	path = bundle/vim-snipmate
	url = git://github.com/garbas/vim-snipmate.git
[submodule "bundle/tlib_vim"]
	path = bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "bundle/vim-addon-mw-utils"]
	path = bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "bundle/puppet"]
	path = bundle/puppet
	url = git://github.com/rodjek/vim-puppet.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = git://github.com/godlygeek/tabular.git
#[submodule "bundle/vim-ruby-debugger"]
#	path = bundle/vim-ruby-debugger
#	url = https://github.com/astashov/vim-ruby-debugger.git
[submodule "bundle/ag"]
	path = bundle/ag
	url = https://github.com/rking/ag.vim
[submodule "bundle/vim-commentary"]
	path = bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "bundle/vim-coffee-script"]
	path = bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/vim-indent-guides"]
	path = bundle/vim-indent-guides
	url = git://github.com/nathanaelkane/vim-indent-guides.git
[submodule "bundle/vim-snippets"]
	path = bundle/vim-snippets
	url = git@github.com:honza/vim-snippets.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = git://github.com/majutsushi/tagbar
[submodule "bundle/vim-gitgutter"]
	path = bundle/vim-gitgutter
	url = git://github.com/airblade/vim-gitgutter.git
[submodule "bundle/tern_for_vim"]
  path = bundle/tern_for_vim
	url = https://github.com/marijnh/tern_for_vim.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "bundle/slim-template"]
	path = bundle/slim-template
	url = git://github.com/slim-template/vim-slim.git
